@using fitness_club_front.Models


<div class="session-card">
    <!-- Card Image -->
    <div class="session-image">
        <span>🏋️‍</span>
    </div>

    <!-- Card Body -->
    <div class="session-body">
        <!-- Title -->
        <h3 class="session-title">
            @Session?.SessionName
        </h3>

        <!-- Category Badge -->
        <div class="badge-container">
            <span class="badge">
                @Session?.SessionType
            </span>
            <span class="badge">
                @Session?.DifficultyLevel
            </span>
            <span class="badge">
                @Session?.FitnessGoal
            </span>
            <span class="badge">
                @Session?.Location
            </span>
            <span class="badge">
                @($"Доступность: {(Session != null && Session.MaxParticipants - Session.CurrentParticipants > 0 ? "Есть места" : "Нет мест" )}")
            </span>
            <span class="badge">
                @($"Активность: {(Session?.IsActive == true ? "Активна" : "Неактивна")}")
            </span>
        </div>

        <!-- Description -->
        <p class="session-description">
            @Session?.Description
        </p>

        <!-- trainer -->
        <div class="trainer-section">
            <p class="trainer-label">
                Тренер:
            </p>
            <p class="trainer-text">
                @($"{Session?.Trainer?.FirstName} {Session?.Trainer?.LastName}")
            </p>
            <p class="trainer-text">
                Рейтинг: @Session?.Trainer?.Rating
            </p>
        </div>

        <!-- Size and Availability -->
        <div class="session-meta">
            <span class="meta-item">
                🕒 @Session?.StartTime.ToLocalTime().ToString("g") — @Session?.EndTime.ToLocalTime().ToString("t")
            </span>
            <span class="meta-item available">
                @($"Места: {Session?.CurrentParticipants}/{Session?.MaxParticipants}")
            </span>
        </div>

        <!-- Price and Button -->
        <div class="session-footer">
            <div class="session-price">
                @($"{Session?.Price} ₽")
            </div>
            <button class="btn btn-primary">
                Добавить
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TrainingSessionDto? Session { get; set; }
}